{% extends 'base_angular.html' %}
{% block angular_content %}
    <div ng-controller="todoCtrl" class="row">
        <div ng-show="!loaded">
            <h3 id="loading">loading</h3>
        </div>

        <div ng-show="loaded" class = "col-lg-6">
            <h2>Todo System</h2>
            <h3 id="todo-title">Todo</h3>
            <table class="table table-hover ">
              <thead>
                <tr>
                    <th>Title</th>
                    <th>Completed</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="todo in todos">
                    <td class="todo-title-cls">{[{todo.title}]}</td>
                    <td><input type="checkbox" ng-model="todo.completed" ng-change='changeTodo(todo)'>  </td>
                    <td><button type="button" class="btn" ng-click="delTodo(todo)">Del</button> </td>
                </tr>
                <tr>
                    <td><input id="new-title-input" type="text" ng-model="newTitle"> </td>
                    <td><button id="add-todo-btn" type="button" class="btn btn-primary" ng-click="addTodo()">Add</button></td>
                <tr>
              </tbody>
            </table>
        </div>
        <div class="col-lg-6"></div>

    </div>
{% endblock %}